.App {
  text-align: center;
}

section {
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, h3 {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
}

/* General Button Styles */
.primary-button {
  background-color: var(--button-primary-bg);
  color: var(--bg-secondary); /* Αντίστροφο χρώμα για αντίθεση */
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px;
}

.primary-button:hover {
  opacity: 0.9;
}

.secondary-button {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  border: 1px solid var(--button-secondary-border);
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px;
}

.secondary-button:hover {
  background-color: var(--bg-primary);
}